<footer style="background-color: #333">
<div class="container space-top-2 text-center" style="padding: 20px">
  <div class="row mb-7 pb-4">
    <div class="col-md-3 mt-md-0 mt-3 mb-4 mb-md-0">
      <h5>KLO360</h5>
      <p style="margin-top: 30px">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod consectetur elite</p>
      <div class="footer-copyright py-3">© 2019 KLO360.:
        <a href="https://mdbootstrap.com/education/bootstrap/"> All Rights Reserved</a>
      </div>
    </div>

    <div class="col-md-3 mt-md-0 mt-3 mb-4 mb-md-0" style="padding: 20px">
    <h5>Navigation</h5>
    <ul class="list-group list-group-flush list-group-borderless mb-0">
      <li>
        <a href="#">Discover Classes</a>
      </li>
      <li>
        <a href="#">Leaderboard</a>
      </li>
      <li>
        <a href="#">Offers Around</a>
      </li>
    </ul>
  </div>

    <div class="col-md-3 mt-md-0 mt-3 mb-4 mb-md-0" style="padding: 20px">
      <h5>Legal</h5>
      <ul class="list-group list-group-flush list-group-borderless mb-0">
        <li>
          <a>Terms</a>
        </li>
        <li>
          <a>Privacy</a>
        </li>
        <li>
          <a>Cookies</a>
        </li>
        <li>
          <a>Copyright</a>
        </li>
      </ul>
    </div>

    <div class="col-md-3 mt-md-0 mt-3 mb-4 mb-md-0" style="padding: 20px">
      <h5>Contact Us</h5>
      <ul class="list-group list-group-flush list-group-borderless mb-0">
        <li>
          <a>contact@klo360.com</a>
        </li>
        <li>
          <a>+91  9845336733</a>
        </li>
      </ul>
    </div>
  </div>
</div>
</footer>
