<div class="account-pages mt-5 mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="card">
          <svg xmlns="http://www.w3.org/2000/svg" width="100.946" height="150.214" viewBox="0 0 194.946 280.214">
            <path id="Path_651" data-name="Path 651" d="M-197.509,2066.621s44.9,45.7,55.136,92.8c10.54,48.516-14.278,98.414-59.99,94.03-39.142-3.755-17.2,85.663-32.838,91.541-19.656,7.394-33.951-4.289-80.08-105.861C-396.925,2059.362-197.509,2066.621-197.509,2066.621Z" transform="translate(334.912 -2066.58)" fill="#f44336"/>
          </svg>

          <div class="card-header pt-2 pb-4 text-center" >
            <a routerLink="landing" class="p-3" style="font-size: 22px; font-weight: bold">KLO360</a>
          </div>
          <div class="card-body p-4">
            <div class="text-center w-75 m-auto">
              <h4 class="text-dark-50 text-center mt-0 font-weight-bold">Sign In</h4>
            </div>
            <form action="#">

              <div class="form-group m-3">
                <label for="emailaddress">Email address</label>
                <input class="form-control" type="email" id="emailaddress" required="" placeholder="Enter your email">
              </div>

              <div class="form-group m-3">
                <a href="pages-recoverpw.html" class="text-muted float-right"><small>Forgot your password?</small></a>
                <label for="password">Password</label>
                <input class="form-control" type="password" required="" id="password" placeholder="Enter your password">
              </div>

              <div class="form-group mb-3">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="checkbox-signin" checked>
                  <label class="custom-control-label" for="checkbox-signin">Remember me</label>
                </div>
              </div>

              <div class="form-group mb-0 text-center">
                <button class="btn btn-primary" type="submit"> Log In </button>
              </div>

            </form>
          </div> <!-- end card-body -->
        </div>
          </div>
        </div>
  </div>
</div>

