<div class="content-page">
<div class="container">
  <div class="row">
    <div class="col-md-7 col-sm-8 col-xs-3">
      <form class="navbar-form" role="search"  style="overflow: hidden">
        <div class="input-group add-on">
          <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="fa fa-search" style="color: #fff;"></i></button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-2">
      <div class="box">
        <i class="fa fa-ellipsis-v"></i>
      </div>
    </div>
  </div>
  <div class="box1" style="margin-top: 4%">
    <div class="row" style="padding-top: 20px">
    <div class="col-md-12 col-lg-12">
      <!-- Simple card -->
      <div id="accordion" class="custom-accordion mb-4">
      <div class="card d-block" style="height: 246px;">
        <!--        <img class="card-img-top" src="assets/images/small/small-1.jpg" alt="Card image cap">-->
        <div class="widgets_div">
          <div class="icon_div">
            <span><i class="fa fa-calendar">&nbsp;</i></span>
          </div>
          <div class="text_div">
            <span>Cult Fit</span><br>
          </div>
<!--          <div class="icon_div" style="margin-left: 60%">-->
<!--            <span><img src="https://img.icons8.com/material/24/000000/rupee.png"></span>-->
<!--          </div>-->
<!--          <div class="text-div" style="margin-left: 7px;">-->
<!--            <span style="font-size: 23px">2000</span>-->
<!--          </div>-->
        </div>

        <div class="card-body">
          <div class="options">
              <p class="card-text"><span style="font-size: 12px;"><img src="https://img.icons8.com/office/16/000000/time-machine.png"> Starts From : <b>10:00</b></span></p>
              <p class="card-text" style="display: flex"><span style="font-size: 12px;"><img src="https://img.icons8.com/office/16/000000/time-machine.png"> End To : <b>12:00</b></span></p>
              <p class="card-text"><span style="font-size: 12px;margin-right: 10px;"><img src="https://img.icons8.com/office/16/000000/marker.png" style="margin-right: 5px"><b>Hoodi Circle</b></span></p>
            <span class="badge badge-primary">Cricket</span>
            <span class="badge badge-secondary">Hockey</span>
            <span class="badge badge-success">Volley Ball</span>
            <span class="badge badge-danger">Shettle</span>
            <span class="badge badge-warning">Throw Ball</span>
          </div>
          <div class="options">
              <p class="card-text"><span style="font-size: 12px;margin-right: 10px;"><img src="https://img.icons8.com/android/24/000000/phone.png" style="margin-right: 5px">Phone: <b>012345678</b></span></p>
<!--            <button class="btn btn-default" style="width: 30px; flex-direction: row">Offer</button>-->
            <span class="ml-4"><img src="https://img.icons8.com/office/16/000000/starfish.png"><img src="https://img.icons8.com/office/16/000000/starfish.png">
            <img src="https://img.icons8.com/office/16/000000/starfish.png">
            <img src="https://img.icons8.com/office/16/000000/starfish.png">
            <img src="https://img.icons8.com/office/16/000000/starfish.png"></span>
          </div>
        </div> <!-- end card-body-->

          <div class="card mb-0" style="overflow-x: visible">
<!--            <div class="card-header" id="headingOne">-->
<!--              <h5 class="m-0 float-right">-->
                <a class="custom-accordion-title d-block pt-2 pb-2" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <span class="float-right" style="color: #333;font-size: 12px; margin-bottom: 4px">Details<i class="mdi mdi-chevron-down accordion-arrow" style="margin-top: 5px; display: inline-block;"></i></span>
                </a>
<!--              </h5>-->
<!--            </div>-->
            <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body" style="border-bottom: thin #edf1f2 solid;">
                <div class="box3">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="widgets_div" style="padding: 0; border-bottom: none;">
                        <div class="icon-div" style="margin-bottom: 8px; color: #e40000;">
                          <i class="fa fa-baseball-ball">&nbsp;&nbsp;</i>
                        </div>
                        <div class="text-div">
                          <span><h6>Hockey</h6></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <span>
                        <span class="INR"></span>
                        2000
                      </span>
                    </div>
                    <div class="col-md-3">
                      <h6>10:3AM - 12:30PM</h6>
                    </div>
                    <div class="col-md-3">
                      <button class="btn btn-primary mr-3">Enquire</button>
                      <button class="btn btn-primary">Enroll</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="box3">
                  <div class="row">
                    <div class="col-md-3">
                      <h6>Foot Ball</h6>
                    </div>
                    <div class="col-md-3">
                      <span>
                        <span class="INR"></span>
                        3000
                      </span>
                    </div>
                    <div class="col-md-3">
                      <h6>11:30AM - 01:30PM</h6>
                    </div>
                    <div class="col-md-3">
                      <button class="btn btn-primary mr-3">Enquire</button>
                      <button class="btn btn-primary">Enroll</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- end card-->
        </div> <!-- end custom accordions-->
      </div> <!-- end card-->
      </div>
    </div><!-- end col -->
  </div>
  </div>
</div>
<!--</div>-->
